:root {
  --slamon: rgb(239, 157, 113);
  --dslamon: #000000;
  --cyan: rgb(174, 222, 224);
  --dcyan: #11181c;
  --black: #000;
  --white: rgb(255, 255, 255);
}

body {
  transition: background-color ease-in 0.5s;
}

.section {
  transition: opacity ease-out 0.5s;
}

.blue-hover {
  transition: height linear 0.03s;
}

.navbar {
  transition: background-color ease-in 0.5s;
}

.cards {
  transition: background-color ease-in 0.3s;
}

.navbar ul {
  transition: all ease-in-out 0.55s;
}

@font-face {
  font-family: "machina-medium";
  src: url(../assets/font/machhina-med.ttf);
}

@font-face {
  font-family: "machina-light";
  src: url(../assets/font/machina-light.ttf);
}

@font-face {
  font-family: "satoshi";
  src: url(../assets/font/satoshi.ttf);
}

.vid {
  clip-path: circle(var(--clip) at 50% 50%);
}

/* theme black */
body[theme="black"] {
  background-color: var(--black);
}

body[theme="black"] .navbar {
  /* background-color: rgba(15, 15, 15, 0.443); */
  color: var(--white);
  backdrop-filter: blur(20px);
}

body[theme="black"] .section {
  color: var(--white);
}

/* theme cyan */
body[theme="cyan"] {
  background-color: var(--cyan);
}

body[theme="cyan"] .navbar {
  background-color: rgba(174, 222, 224, 0.56);
  backdrop-filter: blur(15px);
  color: var(--dcyan);
}

body[theme="cyan"] .section {
  color: var(--dcyan);
}

/* theme salmon */
body[theme="salmon"] {
  background-color: var(--slamon);
}

body[theme="salmon"] .navbar {
  background-color: var(--slamon);
}

body[theme="salmon"] .section {
  color: var(--dslamon);
}

/* theme white */
body[theme="white"] {
  background-color: var(--white);
}

body[theme="white"] .navbar {
  background-color: rgb(255, 255, 255, 0.56);
  backdrop-filter: blur(15px);
  color: var(--black);
}

body[theme="white"] .section {
  color: var(--black);
}

@media (min-width: 0px) and (max-width: 768px) {
  body[theme="cyan"] .navbar ul {
    color: var(--dcyan);
    background-color: var(--cyan);
  }

  body[theme="black"] .navbar ul {
    color: var(--white);
    background-color: var(--black);
  }

  body[theme="salmon"] .navbar ul {
    color: var(--dslamon);
    background-color: var(--slamon);
  }

  body[theme="white"] .navbar ul {
    color: var(--black);
    background-color: var(--white);
  }

  .menulist {
    visibility: hidden;
  }
}

*::selection {
  background-color: rgb(227, 144, 95);
}